body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  align-items: center;
  justify-items: center;
}

h1 {
  margin-bottom: 30px;
  align-items: center;
  justify-items: center;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #dfe6e9;
  border: 4px solid #2d3436;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box-1 {
  box-sizing: content-box;

  padding: 20px;
  margin: 30px;

  background-color: #74b9ff;
}

.box-2 {
  box-sizing: border-box;

  padding: 20px;
  margin: 30px;

  background-color: #55efc4;
}

.box-3 {
  box-sizing: border-box;

  padding-top: 30px;
  padding-left: 10px;

  border-left: 10px solid #e17055;
  border-bottom: 6px dashed #d63031;

  margin-top: 40px;
  margin-bottom: 10px;

  background-color: #ffeaa7;
}
