body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eff1f7;
  padding: 30px;
}

h1,
p,
button,
div {
  margin-bottom: 25px;
}

.title {
  background-color: #dfe6e9;

  border-top: 5px solid #0984e3;
  border-bottom: 5px solid #0984e3;
  border-left: 2px solid #2d3436;
  border-right: 2px solid #2d3436;

  padding: 15px;

  border-radius: 10px;
}

.text-box {
  background-color: #e2d19c;

  border: 3px dashed #c06f5a;

  padding: 15px;

  border-radius: 10px;
}

.fancy-button {
  background-color: #c7c1f0;
  color: rgb(15, 15, 15);

  border: 2px solid #100930;

  padding: 15px 30px;
  font-size: 16px;

  border-radius: 50px;

  cursor: pointer;
}

.fancy-button:hover {
  background-color: #8ddae4;
}

.image-box {
  width: 300px;
  height: 200px;

  background-color: #b2bec3;

  background-image: url("https://picsum.photos/600/400");

  background-repeat: no-repeat;

  background-position: center;

  background-size: cover;

  border: 4px solid #2d3436;
  border-radius: 15px;

  color: white;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}
