* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body > h3 {
  color: rgb(51, 197, 51);
  margin-left: 10%;
  font-size: 12px;

  font-weight: 1000;
  font-family: Arial, Helvetica, sans-serif;

  margin-top: 20px;
}

body > h1 {
  color: rgb(77, 71, 71);
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10%;
  font-weight: bolder;
  font-weight: 1000;
}

body > p {
  color: rgb(97, 96, 96);
  margin-top: 20px;
  margin-left: 10%;
  margin-bottom: 20px;
}

body > .container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(97, 96, 96);
}

.uniq {
  color: rgb(51, 197, 51);
  font-size: 2rem;
  font-weight: 1000;
  font-family: Arial, Helvetica, sans-serif;
}

div > h3 {
  font-family: Arial, Helvetica, sans-serif;
}

.item {
  position: relative;
  width: 32%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgba(230, 228, 228, 0.219);
  border-radius: 5px;
  padding: 20px 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .item {
    width: auto;
  }
}
