/* ElementSelektor */

h1 {
  color: red;
}

/* Id-Selektor ; benutzt man für JS */
#intro {
  color: blue;
}

/* klassenSelektor */
p.special {
  color: green;
}
.textbox {
  color: brown;
}
/* KindKombinator , direkten kinder in main*/
main > a {
  color: aqua;
}
/* Nachfahrkombinator selektiert a element überall */
main a {
}

table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
}

tr:nth-of-type(odd) {
  background-color: blanchedalmond;
}

tr:hover {
}
